main {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 240px), 1fr));
  padding-block: 24px;
}

main img {
  aspect-ratio: 1;
  height: auto;
  object-fit: cover;
  width: 100%;
}
